<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>EditorDemo</title>
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../styles/css/base.css" />
  <script type="text/javascript" src="../scripts/require.js"></script>
</head>
<body>
<div class="container">
  <div class="details-banner">
    <h2>banner</h2>
  </div>
</div>
<div class="article-details">
  <div class="wrapper clearfix">
    <div class="article-content">
      <div class="survey">
        <h3>概览</h3>
        <div class="survey-box">
          <div class="survey-inner clearfix">
            <div class="item">
              <i class="glyphicon glyphicon-time"></i>
              <span>时间：2016年5月26日</span>
            </div>
            <div class="item">
              <i class="glyphicon glyphicon-calendar"></i>
              <span>天数：7天</span>
            </div>
            <div class="item">
              <i class="glyphicon glyphicon-usd"></i>
              <span>人均消费：3000~5000元</span>
            </div>
          </div>
        </div>
      </div>
      <div class="article-body">
        <div class="para-title level-title-1">
          <h2 id="item1">前言</h2>
        </div>
        <div class="para-title level-title-2">
          <h3 id="item2">行前准备</h3>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para-title level-title-2">
          <h3 id="item3">住宿</h3>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para-title level-title-2">
          <h3 id="item4">美食</h3>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para-title level-title-1">
          <h2 id="item5">DAY 1</h2>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para-title level-title-1">
          <h2 id="item6">DAY 2</h2>
        </div>
        <div class="para-title level-title-2">
          <h2 id="item7">第一站</h2>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
        <div class="para-title level-title-2">
          <h2 id="item8">第二站</h2>
        </div>
        <div class="para">
          <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
        </div>
      </div>
    </div>
    <div class="side-content">
      <div class="chapter-list">
        <span class="target-icon"></span>
        <h2>目录</h2>
        <dl>
          <dt>
            <a href="#item1" class="active">前言</a>
          </dt>
          <dd>
            <a href="#item2">行前准备</a>
          </dd>
          <dd>
            <a href="#item3">住宿</a>
          </dd>
          <dd>
            <a href="#item4">美食</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a href="#item5">DAY1</a>
          </dt>
        </dl>
        <dl>
          <dt>
            <a href="#item6">DAY2</a>
          </dt>
          <dd>
            <a href="#item7">第一站</a>
          </dd> 
          <dd>
            <a href="#item8">第二站</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!-- <div class="article-details">
  <div class="container clearfix">
    <div class="article-content">
      <div class="para-title level-title-1">
        <h2 id="item1">前言</h2>
      </div>
      <div class="para-title level-title-2">
        <h3 id="item2">行前准备</h3>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para-title level-title-2">
        <h3 id="item3">住宿</h3>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para-title level-title-2">
        <h3 id="item4">美食</h3>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para-title level-title-1">
        <h2 id="item5">DAY 1</h2>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para-title level-title-1">
        <h2 id="item6">DAY 2</h2>
      </div>
      <div class="para-title level-title-2">
        <h2 id="item7">第一站</h2>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
      <div class="para-title level-title-2">
        <h2 id="item8">第二站</h2>
      </div>
      <div class="para">
        <p>初中时沉迷于金庸笔下的故事久久不能自拔。王重阳远赴极北的冰火岛为林朝英寻找寒玉床，一步一步泼水成冰带回终南山。终于看到终南山上的青松梨花，朝岚晨雾的时候，另一颗心终究是没能禁得住这流年似水。</p>
      </div>
    </div>
    <div class="side-content">
      <div class="chapter-list">
        <span class="target-icon"></span>
        <h2>目录</h2>
        <dl>
          <dt>
            <a href="#item1" class="active">前言</a>
          </dt>
          <dd>
            <a href="#item2">行前准备</a>
          </dd>
          <dd>
            <a href="#item3">住宿</a>
          </dd>
          <dd>
            <a href="#item4">美食</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a href="#item5">DAY1</a>
          </dt>
        </dl>
        <dl>
          <dt>
            <a href="#item6">DAY2</a>
          </dt>
          <dd>
            <a href="#item7">第一站</a>
          </dd> 
          <dd>
            <a href="#item8">第二站</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div> -->
<script type="text/javascript" src="../scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/chapter.js"></script>
</body>
</html>