<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>客户详情页</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/customer.details.css">
</head>
<body>
<div class="customer-details">
    <div class="container">
        <div class="item-panel collapse-panel active">
            <div class="item-header">
                <a class="title-item" href="#">基本信息</a>
            </div>
            <div class="item-content clearfixed">
                <div class="inner">
                    <table>
                        <tbody>
                            <tr>
                                <td>客户编码</td>
                                <td>C02052001606130001</td> 
                                <td>客户姓名</td>
                                <td>王女士</td>
                                <td>电话号码</td> 
                                <td>13900001111</td>
                                <td>其他联系方式</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>客户类别</td>
                                <td>个人</td> 
                                <td>证件类型</td>
                                <td>&nbsp;</td>
                                <td>证件号码</td> 
                                <td>&nbsp;</td>
                                <td>联系人</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>性别</td>
                                <td>&nbsp;</td> 
                                <td>年龄</td>
                                <td>&nbsp;</td>
                                <td>爱好</td> 
                                <td>&nbsp;</td>
                                <td>邮箱</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>微信号</td>
                                <td>&nbsp;</td> 
                                <td>官网用户名</td>
                                <td>&nbsp;</td>
                                <td>QQ号</td> 
                                <td>&nbsp;</td>
                                <td>淘宝用户名</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>潜客来源</td>
                                <td>&nbsp;</td> 
                                <td>信息渠道</td>
                                <td>&nbsp;</td>
                                <td>是否跨城客户</td> 
                                <td>&nbsp;</td>
                                <td>已预订</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>地址</td>
                                <td>&nbsp;</td> 
                                <td>备注</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> 
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="item-panel">
            <div class="item-header tab-panel">
                <div class="inner clearfixed">
                    <a class="active" href="#">
                        客户编码1
                        <br/>
                        XXXXXX
                    </a>
                    <a href="#">
                        客户编码2
                        <br/>
                        XXXXXX
                    </a>
                    <a href="#">
                        客户编码3
                        <br/>
                        XXXXXX
                    </a>
                </div>
            </div>
            <div class="item-content tab-content">
                <div class="item active">
                    <div class="clearfixed">
                        <div class="inner">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>客户等级</td>
                                        <td>&nbsp;</td>
                                        <td>潜客来源</td>
                                        <td>&nbsp;</td>
                                        <td>信息渠道</td>
                                        <td>&nbsp;</td>
                                        <td>已预订</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>购车门店</td>
                                        <td>&nbsp;</td>
                                        <td>所属门店</td>
                                        <td>&nbsp;</td>
                                        <td>线索归属人</td>
                                        <td>&nbsp;</td>
                                        <td>创建人</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>跟进次数</td>
                                        <td>&nbsp;</td>
                                        <td>到店次数</td>
                                        <td>&nbsp;</td>
                                        <td>首次到店日期</td>
                                        <td>&nbsp;</td>
                                        <td>最近到店日期</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>创建门店</td>
                                        <td>&nbsp;</td>
                                        <td>创建时间</td>
                                        <td>&nbsp;</td>
                                        <td>最后修改人</td>
                                        <td>&nbsp;</td>
                                        <td>最后修改时间</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item-panel collapse-panel active">
                        <div class="item-header">
                            <a class="title-item" href="#">购车意向</a>
                        </div>
                        <div class="item-content clearfixed">
                            <div class="inner">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>意向车系</td>
                                            <td>C02052001606130001</td> 
                                            <td>意向车型</td>
                                            <td>王女士</td>
                                            <td>意向颜色</td> 
                                            <td>13900001111</td>
                                            <td>意向配置</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>预算</td>
                                            <td>个人</td> 
                                            <td>推荐车型</td>
                                            <td>&nbsp;</td>
                                            <td>预计购车时限</td> 
                                            <td>&nbsp;</td>
                                            <td>创建部门</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item-panel collapse-panel">
                        <div class="item-header">
                            <a class="title-item" href="#">预订单（2）</a>
                        </div>
                        <div class="item-content">
                            <div class="item-panel collapse-panel">
                                <div class="item-header">
                                    <a class="title-item" href="#" data-iframe="http://order.zuche.com/order/OrderSecondControl.do">预订单（1）</a>
                                </div>
                                <div class="item-content"></div>
                            </div>
                            <div class="item-panel collapse-panel">
                                <div class="item-header">
                                    <a class="title-item" href="#" data-iframe="http://order.zuche.com/order/OrderSecondControl.do">预订单（2）</a>
                                </div>
                                <div class="item-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item-panel collapse-panel">
                        <div class="item-header">
                            <a class="title-item" href="#" data-iframe="http://changzu.zuche.com/">订单信息（1）</a>
                        </div>
                        <div class="item-content"></div>
                    </div>
                    <div class="item-panel collapse-panel">
                        <div class="item-header">
                            <a class="title-item" href="#" data-iframe="http://10.100.66.165:8080/templates/customer.details.html">跟进记录（2）</a>
                        </div>
                        <div class="item-content"></div>
                    </div>
                </div>
                <div class="item clearfixed">
                    <div class="inner">
                        <table>
                            <tbody>
                                <tr>
                                    <td>购车门店</td>
                                    <td>&nbsp;</td>
                                    <td>所属门店</td>
                                    <td>&nbsp;</td>
                                    <td>线索归属人</td>
                                    <td>&nbsp;</td>
                                    <td>创建人</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item clearfixed">
                    <div class="inner">
                        <table>
                            <tbody>
                                <tr>
                                    <td>跟进次数</td>
                                    <td>&nbsp;</td>
                                    <td>到店次数</td>
                                    <td>&nbsp;</td>
                                    <td>首次到店日期</td>
                                    <td>&nbsp;</td>
                                    <td>最近到店日期</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>创建门店</td>
                                    <td>&nbsp;</td>
                                    <td>创建时间</td>
                                    <td>&nbsp;</td>
                                    <td>最后修改人</td>
                                    <td>&nbsp;</td>
                                    <td>最后修改时间</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <h2 class="title-separator">客户其他信息</h2>
        <div class="item-panel collapse-panel">
            <div class="item-header">
                <a class="title-item" href="#" data-iframe="http://easyride.zuche.com/">网站会员资料</a>
            </div>
            <div class="item-content"></div>
        </div>
        <div class="item-panel collapse-panel">
            <div class="item-header">
                <a class="title-item" href="#" data-iframe="http://service.zuche.com/">网站预约看车信息（1）</a>
            </div>
            <div class="item-content"></div>
        </div>
        <div class="item-panel collapse-panel">
            <div class="item-header">
                <a class="title-item" href="#" data-iframe="http://international.zuche.com/">咨询记录（2）</a>
            </div>
            <div class="item-content"></div>
        </div>
        <div class="item-panel collapse-panel">
            <div class="item-header">
                <a class="title-item" href="#" data-iframe="http://carbusiness.zuche.com/">短信记录（20）</a>
            </div>
            <div class="item-content"></div>
        </div>
        <div class="item-panel collapse-panel">
            <div class="item-header">
                <a class="title-item" href="#" data-iframe="http://zhuanche.zuche.com/">历史记录（18）</a>
            </div>
            <div class="item-content"></div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript" src="../public/components/jquery/dist/jquery.min.js"></script> -->
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/customer.details.js"></script>
</body>
</html>