<!DOCTYPE html>
<html>
<head>
  <title>EditorDemo</title>
  <!-- build:css /styles/base.css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../styles/upload/jquery.fileupload.css" />
  <link rel="stylesheet" type="text/css" href="../styles/upload/jquery.fileupload-ui.css" />
  <link rel="stylesheet" type="text/css" href="../styles/upload/cropper.min.css" />
  <link rel="stylesheet" type="text/css" href="../styles/gridly/jquery.gridly.css" />
  <link href="../public/components/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" />
  <link href="../public/components/select2/dist/css/select2.min.css" rel="stylesheet" />
  <link href="../public/components/gridly/stylesheets/jquery.gridly.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
  <link rel="stylesheet" type="text/css" href="../styles/detail.css" />
  <link rel="stylesheet" type="text/css" href="../styles/css/base.css" />
  <!-- endbuild -->
</head>
<body>
<div class="wrapper">
  <div class="clearfix header-box">
    <div class="bread-nav">
      <a href="#">游记</a>
      &gt;
      <span>发表游记</span>
    </div>
  </div>
  <div class="wrap">
    <div class="main">
      <div class="detail-container min-width">
        <div class="article">
          <h4 class="title">概览</h4>
          <ul class="basic-info">
            <li>时间：2016年5月23日</li>
            <li>天数：7天</li>
            <li>人均消费：3000-5000元</li>
          </ul>
          <div class="journey-box">
            <div class="day">
              <h4 class="day-tit">Day1</h4>
              <div class="journey">
                <h5 class="journey-tit">世界上最陡的街道-鲍德温街</h5>
                <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
                <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
                <p class="article-txt">
                  他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
                </p>
                <img class="article-img" src="../images/1.jpg">
                <ul class="article-option">
                  <li class="zan">238.93万</li>
                  <li class="comment">2131</li>
                </ul>
              </div>
              <div class="journey">
                <h5 class="journey-tit">世界上最陡的街道-鲍德温街</h5>
                <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
                <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
                <p class="article-txt">
                  他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
                </p>
                <img class="article-img" src="../images/1.jpg">
                <ul class="article-option">
                  <li class="zan">238.93万</li>
                  <li class="comment">2131</li>
                </ul>
              </div>
            </div>
            <div class="day">
              <h4 class="day-tit">Day2</h4>
              <div class="journey">
                <h5 class="journey-tit">世界上最陡的街道-鲍德温街</h5>
                <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
                <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
                <p class="article-txt">
                  他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
                </p>
                <img class="article-img" src="../images/1.jpg">
                <img class="article-img" src="../images/1.jpg">
                <ul class="article-option">
                  <li class="zan">238.93万</li>
                  <li class="comment">2131</li>
                </ul>
              </div>
              <div class="journey">
                <h5 class="journey-tit">世界上最陡的街道-鲍德温街</h5>
                <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
                <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
                <p class="article-txt">
                  他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
                </p>
                <img class="article-img" src="../images/1.jpg">
                <ul class="article-option">
                  <li class="zan">238.93万</li>
                  <li class="comment">2131</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="options-box">
            <div class="zan">324</div>
            <ul class="collect-share">
              <li class="collect">收藏</li>
              <li class="share">分享</li>
            </ul>
          </div>
        </div>
        <div class="menu-box">
          <h4 class="title">目录</h4>
          <div class="chapter-box">
            <ul class="menu">
              <li>
                <p class="item-tit">Day1</p>
                <p class="item-txt active"><i>-----</i>世界上最陡的街道-鲍德温街</p>
              </li>
              <li>
                <p class="item-tit">Day2</p>
                <p class="item-txt"><i>-----</i>哈特兰奥克兰机场酒店</p>
              </li>
              <li>
                <p class="item-tit">Day3</p>
                <p class="item-txt"><i>-----</i>奥克兰基督城</p>
              </li>
              <li>
                <p class="item-tit">Day4</p>
                <p class="item-txt"><i>-----</i>黄眼企鹅观看攻略</p>
              </li>
              <li>
                <p class="item-tit">Day5</p>
                <p class="item-txt"><i>-----</i>吉百利巧克力工厂</p>
              </li>
            </ul>
            <a href="#" class="chapter-icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 顺序编辑器 -->
<div class="drag-main">
  <a href="#">
    <span>顺序编辑器</span> 
    <span>点击进行图文排序</span> 
    <i class="glyphicon glyphicon-menu-down"></i>
  </a>
</div>

<div class="drag-article">
  <div class="drag-side">
    <a href="#" class="active">DAY1</a>
    <a href="#">DAY2</a>
    <a href="#">DAY3</a>
    <a href="#">DAY4</a>
  </div>
  <div class="drag-con">
    <div class="clearfix header">
      <p>拖动图文模块，可以进行图文排序</p>
      <div class="a-btns">
        <a href="#" class="a-btn back-btn">返回</a>
        <a href="#" class="a-btn">完成</a>
      </div>
    </div>
    <div class="gridly">
      <div class="brick small">
        <img src="../images/drag_title.gif">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
      <div class="brick small">
        <img src="../images/1.jpg">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
      <div class="brick small">
        <img src="../images/drag_title.gif">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
      <div class="brick small">
        <img src="../images/drag_text.gif">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
      <div class="brick small">
        <img src="../images/drag_title.gif">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
      <div class="brick small">
        <img src="../images/drag_title.gif">
        <div class="hover-box">
          <div class="details-con">
            <p>aa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<script src="../public/components/jquery/dist/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/config.js"></script>
<script type="text/javascript" src="../scripts/upload/jquery.ui.widget.js"></script>
<script type="text/javascript" src="../scripts/upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="../scripts/upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="../scripts/upload/cropper.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.9.1/cropper.min.js"></script> -->

<script type="text/javascript" src="../scripts/upload/sitelogo.js"></script>
<script type="text/javascript" src="../scripts/upload/uploader.comps.js"></script>
<script type="text/javascript" src="../scripts/gridly/jquery.gridly.js"></script>
<script src="../public/components/select2/dist/js/select2.min.js"></script>
<script src="../public/components/air-datepicker/dist/js/datepicker.min.js"></script>
<script src="../public/components/air-datepicker/dist/js/i18n/datepicker.zh.js"></script>
<script src="../public/components/gridly/javascripts/jquery.gridly.js"></script>
<!-- <script type="text/javascript" src="http://www.my97.net/dp/My97DatePicker/WdatePicker.js"></script> -->
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<!-- <script type="text/javascript" src="../gridly/javascripts/jquery.gridly.js"></script> -->
<script type="text/javascript" src="../scripts/drag.demo.js"></script>
<!-- <script type="text/javascript" src="../scripts/editor.js"></script> -->
</body>
</html>