<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>EditorDemo</title>
  <link rel="stylesheet" type="text/css" href="../public/components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../public/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" type="text/css" href="../styles/css/base.css" />
</head>
<body>
<div class="wrap">
  <div class="head">
    <div class="container">
      <ul class="left">
        <li class="title">我的汽车之家</li>
        <li class="net">网站</li>
        <li class="square">广场</li>
        <li class="apply">应用</li>
      </ul>
      <ul class="right">
        <li>阿凡达童鞋</li>
        <li>消息</li>
        <li>设置</li>
      </ul>
    </div>
  </div>
  <div class="main">

    <div class="logo_search min-width">
      <p class="logo">给你最想要的出游信息</p>
      <div class="search-box">
        <div class="search-main">
          <div class="search-input-btn">
            <input class="search-input" type="text" placehold="请输入游记名/目的地">
            <span class="search-btn">搜索</span>
          </div>
          <ul class="tags">
            <li>户外</li>
            <li>蜜月</li>
            <li>境外</li>
            <li>潜水</li>
            <li>滑雪</li>
            <li>自然风光</li>
            <li>户外</li>
            <li>蜜月</li>
            <li>境外</li>
            <li>潜水</li>
            <li>更多</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="detail-head min-width">
      <ul class="crumbs-white">
        <li>当前位置：</li>
        <li><a href="">游记</a>&nbsp;>&nbsp;</li>
        <li><a href="">最新游记</a>&nbsp;>&nbsp;</li>
        <li>游记详情</li>
      </ul>
      <img class="theme-img" src="../images/1.jpg">
      <dl>
        <dt>
          <img class="user-img" src="../images/1.jpg">
        </dt>
        <dd>
          <h4 class="title">撒大大大撒大大的撒撒大大的撒</h4>
          <div class="user-con">
            <div class="user-tags">
              <p class="user-info">
                <span class="user-name">汽车之家</span>
                <span class="browse">122.23万人浏览</span>
              </p>
              <ul class="tag-list">
                <li class="tag">户外</li>
                <li class="tag">境外</li>
                <li class="tag">户外</li>
                <li class="tag">境外</li>
              </ul>
            </div>
            <ul class="nums">
              <li class="zan-num">2131万</li>
              <li class="collect-num">2131万</li>
              <li class="browse-num">2131万</li>
              <li class="share-num">2131万</li>
            </ul>
            <ul class="share-box jiathis_style_32x32">
              <li><a class="jiathis_button_weixin"></a></li>
              <li><a class="jiathis_button_tsina"></a></li>
              <li><a class="jiathis_button_qzone"></a></li>
              <li><a class="jiathis_button_tqq"></a></li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>

    <div class="detail-container min-width">
      <div class="article J-left-content">
        <h4 class="title">概览</h4>
        <ul class="basic-info">
          <li>时间：<span class="timeago" title="Mon Jun 27 2016 14:34:49 GMT+0800 (CST)"></span></li>
          <li>天数：7天</li>
          <li>人均消费：3000-5000元</li>
        </ul>
        <div class="journey-box">
          <div class="day J-day">
            <h4 class="day-tit J-detail-list">Day1</h4>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街1-1</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街1-2</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
          </div>
          <div class="day J-day">
            <h4 class="day-tit J-detail-list">Day2</h4>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街2-1</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街2-2</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
          </div>
          <div class="day J-day">
            <h4 class="day-tit J-detail-list">Day333333333333333333</h4>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街3-1</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街3-2</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
          </div>
          <div class="day J-day">
            <h4 class="day-tit J-detail-list">Day44444444444444444</h4>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街4-1</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街4-2</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
          </div>
          <div class="day J-day">
            <h4 class="day-tit J-detail-list">Day5555555555555555</h4>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街5-1</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
            <div class="journey J-detail-list">
              <h5 class="journey-tit">世界上最陡的街道-鲍德温街5-2</h5>
              <p class="article-txt">在英国，有许多小小的城镇，他们的名字在大多数游客听来都是那么陌生，可是好像又有那么一点点模糊的印象。他们大多只有三两条主街，一个算不上热闹的火车站，还有一些过得安逸又悠闲的本地人。如果你出生在中国的大城市里，这样子规模的小地方，在你眼中或许连城市都算不上。</p>
              <p class="article-txt">可这样的小城小镇却是英国最常见的样子，南部的肯特郡，苏塞克斯郡，康沃尔地区；中部约克周边，湖区，还有科茨沃尔德地区；都有这样风景美丽，配置齐全的小城市。</p>
              <p class="article-txt">
                他们是真正的英国生活的缩影，他们是这个国家最不容错过的地方。
              </p>
              <img class="article-img" data-src="../images/1.jpg" width="670" height="325">
              <ul class="article-option">
                <li class="zan">238.93万</li>
                <li class="comment">2131</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="options-box">
          <div class="zan">324</div>
          <ul class="collect-share">
            <li class="collect">收藏</li>
            <li class="share">分享</li>
          </ul>
        </div>
      </div>
      <div class="menu-box J-right-menu">
        <div class="menu-inner">
          <h4 class="title">目录</h4>
          <div class="chapter-box" id="J-inner">
            <ul class="menu">
              <li>
                <p class="item-tit active">Day1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街1-1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街1-2</p>
              </li>
              <li>
                <p class="item-tit">Day2</p>
                <p class="item-txt"><i>-----</i>哈特兰奥克兰机场酒店2-1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街2-2</p>
              </li>
              <li>
                <p class="item-tit">Day3</p>
                <p class="item-txt"><i>-----</i>奥克兰基督城3-1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街3-2</p>
              </li>
              <li>
                <p class="item-tit">Day4</p>
                <p class="item-txt"><i>-----</i>黄眼企鹅观看攻略4-1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街4-2</p>
              </li>
              <li>
                <p class="item-tit">Day5</p>
                <p class="item-txt"><i>-----</i>吉百利巧克力工厂5-1</p>
                <p class="item-txt "><i>-----</i>世界上最陡的街道-鲍德温街5-2</p>
              </li>
            </ul>
            <a href="#" class="chapter-icon"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="correlation-container">
      <div class="correlation-con">
        <div class="world-box">
          <div class="box-title">
            <h4>玩转世界</h4>
          </div>
          <div class="grid">
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="comment-container">
      <div class="comment-con">
        <div class="comment-box">
          <textarea palcehold="汽车之家温馨提示"></textarea>
          <ul class="emoji-btn">
            <li class="emoji">表情</li>
            <li class="btn">评论</li>
          </ul>
          <div class="comment-list">
            <ul class="comment-tit">
              <li>最新评论</li>
              <li>最热评论</li>
            </ul>
            <dl class="comment-content">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 class="title">薛之谦</h4>
                <p class="time-floor">
                  <span>10分钟前</span>
                  <span>[1923楼]</span>
                </p>
              </dd>
              <dd>感觉好棒</dd>
              <dd class="reply">
                <span>回复</span>
                <span>赞同（0）</span>
              </dd>
            </dl>
            <dl class="comment-content">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 class="title">薛之谦</h4>
                <p class="time-floor">
                  <span>10分钟前</span>
                  <span>[1923楼]</span>
                </p>
              </dd>
              <dd>感觉好棒</dd>
              <dd class="comment-box">
                <div class="content">
                  <div class="article">
                    <div class="article-img">
                      <img src="../images/1.jpg">
                    </div>
                    <div class="article-txt">
                      <h4 class='article-tit'>游西点军校/大都会博物馆 纽约两日游记</h4>
                      <span class="article-con">大家好，我是文化频道的李伊文，很高兴能在游记中再次与大家见面。5月上旬，我去了趟美国，第一站是一级方程式锦标赛这个底特律，第二站是纽约。在底特律期间... ...</span>
                    </div>
                  </div>
                </div>
              </dd>
              <dd class="reply">
                <span>回复</span>
                <span>赞同（0）</span>
              </dd>
            </dl>
            <dl class="comment-content">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 class="title">薛之谦</h4>
                <p class="time-floor">
                  <span>10分钟前</span>
                  <span>[1923楼]</span>
                </p>
              </dd>
              <dd>感觉好棒</dd>
              <dd class="comment-box">
                <div class="content">
                  <div class="user">
                    <img class="user-img" src="../images/1.jpg">
                    <span class="user-tit">原评论 <em>薛之谦</em>于2016-05-23 07：55发表在12123楼</span>
                    <p class="user-txt">感觉好棒，好想去嗨皮啊啊啊巴拉巴拉巴拉巴拉巴拉... ...</p>
                  </div>
                  <div class="article">
                    <div class="article-img">
                      <img src="../images/1.jpg">
                    </div>
                    <div class="article-txt">
                      <h4 class='article-tit'>游西点军校/大都会博物馆 纽约两日游记</h4>
                      <span class="article-con">大家好，我是文化频道的李伊文，很高兴能在游记中再次与大家见面。5月上旬，我去了趟美国，第一站是一级方程式锦标赛这个底特律，第二站是纽约。在底特律期间... ...</span>
                    </div>
                  </div>
                </div>
              </dd>
              <dd class="reply">
                <span>回复</span>
                <span>赞同（0）</span>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../public/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../public/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- <script type="text/javascript" src="../public/components/jquery-timeago/jquery.timeago.js"></script> -->
<!-- <script type="text/javascript" src="../public/components/jquery-timeago/locales/jquery.timeago.zh-CN.js"></script> -->
<script type="text/javascript" src="../scripts/travel.details.js"></script>
</body>
</html>