a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
input[disabled] {
  cursor: not-allowed;
}
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}
.wrapper {
  width: 990px;
  margin: 0 auto;
}
