.travel-list {
  position: relative;
}
.travel-list li {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  position: relative;
}
.travel-list li.active {
  transform: scale(1.1);
}
.travel-list li.dragging {
  opacity: .8;
  z-index: 10;
}
.travel-list .delete {
  display: block;
  color: #f60;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
.travel-day-details {
  display: none;
}
